In [8]:
import pandas as pd  
import sqlite3


conn = sqlite3.connect("/Database/database.sqlite")


df_teams = pd.read_sql_query("SELECT * FROM team;", conn)
df_countries = pd.read_sql_query("SELECT * FROM country;", conn)
df_matchs = pd.read_sql_query("SELECT * FROM match;", conn)
df_leagues = pd.read_sql_query("SELECT * FROM league;", conn)
df_player = pd.read_sql_query("SELECT * FROM player;", conn)
df_player_attribute = pd.read_sql_query("SELECT * FROM Player_Attributes;", conn)
df_teams_attributes=pd.read_sql_query("select * from team_attributes;",conn)

OperationalError: unable to open database file

import s